FRONTEND_URL: url of the cloudfront endpoint
DB_HOST: rds endpoint, eg. mydb.xxxx.rds.amazonaws.com
DB_USER
DB_PASS
DB_NAME
DB_PORT: db port or default 5432 will be used
PORT: port on which the app listens, 3000 if not specified